

.navButtons {
  display: flex;
  justify-content: space-around;
  column-gap: 25px;
  margin-left: 100px;
}

.navBtn{
  background-color: white;
  border-style: none;
  color: rgb(94, 93, 93);
  
}
.navBtn:hover{
  background-color: white;
  color: rgb(44, 175, 164);
}



.header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: larger;
}


.navSearch {
display: flex;
margin-right: 100px;
gap: 30px;

}

#signup{
background-color: rgb(44, 175, 164);
box-shadow: 5px 5px black; 
color: white;
font-size:small;


}

#searchbar{


font-size: small;
padding: 2px;
border-style: none;

}

#searchGlass {
display: flex;
margin-top: 5px;
justify-self: center;
margin-right: 5px;
margin-left: 5px;
margin-bottom: 5px;
border: 10px;
border-color: black;
}

.searchFull{
display: flex;
box-shadow: 5px 5px black; 
border-style: solid;
border-width: 2px;
border-color: black;
}

#homeBtn {
  color: rgb(44, 175, 164);

}

.footer{
display: flex;
justify-content: space-around;
margin-top: 20px;

}

hr {
margin-top: 50px;
}

.logos{
background-color: rgb(44, 175, 164);
padding: 2px;
border-style: solid;
border-color: black;
box-shadow: 2px 2px black; 
}


/* End of header and footer CSS */

.slideshow {
  
  text-align: center;
  font-size: 40px;
  
  
  
}

body{
  font-family: 'Montserrat', sans-serif;
}

.slide{
  display: flex;
  justify-content: center;
  width:auto;
  background-color: #b4eeefa0;
  margin-top: 30px;
  padding-top: 100PX;
  padding-bottom: 100PX;

}

.highlights{
  display: flex;
  justify-content: space-around;
  margin-left: 80px;
  margin-right: 80px;
  margin-top:80px;
  

}

.training{
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 300px;
  box-shadow: 2px 2px black;
  border-style: solid;
  border-width: 2px;
  
}

.trainheader{
  font-weight: bolder;
  margin-bottom: 10px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.trainbtn {
  margin-top: 15px;
  width: 90px;
  margin-bottom: 50px;
  margin-left: 10px;
  
  background-color: white;
  border-style: none;
  color:  rgb(23, 150, 78);
  font-weight: bolder;
}

.trainDesc{
  margin-left: 20px;
  margin-right: 20px;
}


#hr{
  
  margin-top: 60px;
  margin-bottom: 60px;
}

#contact{
  margin-top: 60px;
}

.contact{
  
  text-align: center;
  margin-bottom: 50px;
  font-weight: bolder;
  font-size: larger;
}

.contacts{
  display: flex;
  justify-content: space-around;
  border-style: solid;
  margin-left: 140px;
  margin-right: 120px;
  margin-bottom: 100px;
}

.contactbox{
  border-style: solid;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  padding-right: 80px;
  width: 150px;
  padding-bottom: 50px;
}

.contactitem {
  margin-bottom: 10px;
  font-weight: bolder;
}
